Django==2.2.4
django-extensions==2.1.5
factory-boy==2.12.0
Faker==2.0.0
pkg-resources==0.0.0
pydotplus==2.0.2
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
