{% extends "blog/base.html" %}

{% block title %}Articles{%endblock%}
{% block content %}
<div class="container">
    <h1>Article list</h1>
    <p>This is an example based to show how to generate slugs in Django as shown in <a href="https://simpleit.rocks/python/django/generating-slugs-automatically-in-django-easy-solid-approaches/">https://simpleit.rocks/python/django/generating-slugs-automatically-in-django-easy-solid-approaches/</a></p>
    <p> Each time you create an <em>Article</em> it generates one instance from ArticlePkAndSlug and another one from ArticleUniqueSlug.</p>

    <p><a href="{% url 'article-create' %}">Generate Article Title</a></p>

    <p>Title field maximum length: <strong>{{settings.BLOG_TITLE_MAX_LENGTH}}</strong>. Unique slug field maximum length: <strong>{{settings.BLOG_UNIQUE_SLUG_MAX_LENGTH}}</strong>.</p>
    <table class="table">
	<thead>
	    <tr>
		<th scope="col">Title</th>
		<th scope="col">Pk Slug</th>
		<th scope="col">Slug length</th>
		<th scope="col">Unique Slug</th>
		<th scope="col">Slug length</th>
	    </tr>
	</thead>
	<tbody>
	    {% for object in object_list %}
	    <tr>
		<td>{{object.article_unique_slug.title}}</td>
		<td><a href="{{object.article_pk_and_slug.get_absolute_url}}">{{object.article_pk_and_slug.get_absolute_url}}</a></td>
		<td>{{object.article_pk_and_slug.slug_length}}</td>
		<td><a href="{{object.article_unique_slug.get_absolute_url}}">{{object.article_unique_slug.get_absolute_url}}</a></td>
		<td>{{object.article_unique_slug.slug_length}}</td>
	    </tr>
	    {%endfor%}
	</tbody>
    </table>
</div>
{% endblock %}



